html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  background: #BDAE82;
  line-height: 40px;
  font-size: 20px;
  color: v#000;
  border: none;
  width: 220px;
  height: 55px;
  font-family: Inter, sans-serif;
}
button:hover {
  cursor: pointer;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
  background-color: #000;
}

main, footer {
  width: 100%;
}

h2 {
  font-family: Merriweather, serif;
  text-align: center;
  border-bottom: 1px solid #BDAE82;
  line-height: 0.1em;
  text-align: center;
  width: 700px;
  padding-top: 100px;
}
h2 span {
  color: #BDAE82;
  padding: 0 10px;
  background-color: #000;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}
header .header_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header_logo {
  flex: 1;
}
header .header_logo a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: justify-content;
  cursor: pointer;
}
header .header_logo a:hover {
  filter: drop-shadow(0 0 0.2rem var(--black));
  transition: 0.9s ease;
}
header .header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 20px 0;
}

.nav_list {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.nav_list li {
  list-style: none;
  margin-right: 30px;
}
.nav_list li a {
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}
.nav_list li a:hover {
  color: #BDAE82;
  transition: color 0.6s ease;
}
.nav_list li:nth-child(5) {
  margin: 0;
}

.change_lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.hero {
  background: url("./assets/images/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.hero_block {
  position: relative;
  z-index: 1;
  top: 250px;
  margin-left: 60px;
  width: 500px;
}

.hero_heading {
  font-size: 60px;
  line-height: 120px;
  font-family: var(--merri-font-family);
}

.hero_button {
  margin-top: 25px;
  left: calc(50% - 37.5px + 0.5px);
}

.skills_block, .portfolio_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 40px;
  padding-top: 60px;
}
.skills_list .skills_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills_list .skill_title {
  margin: 50px 0 20px;
  font-weight: 700;
}
.skills_list .skill_text {
  text-align: center;
}

.seasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seasons .seasons_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: justify-content;
  margin: 60px 0;
}
.seasons .season {
  border: 2px solid #BDAE82;
  left: calc(50% - 40.5px - 0.5px);
  top: calc(50% - 20px + 0.5px);
  color: #BDAE82;
  background: #000;
  margin-right: 5px;
}
.seasons .season:hover {
  color: #fff;
  cursor: pointer;
}
.seasons .season:last-child {
  margin-right: 0;
}
.seasons .active_season {
  background-color: #BDAE82;
  color: #000;
}

.portfolio_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.portfolio_item, .portfolio_img {
  width: 450px;
  height: 560px;
}

.video_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video_block .video_player {
  background: url("./assets/images/video-player.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.price_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.price_block .price_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  grid-column-gap: 25px;
  margin-top: 60px;
}
.price_block .price_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  border: 3px solid #BDAE82;
  padding: 43px 0;
}
.price_block .price_item .price_title {
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
}
.price_block .price_item .price_sum {
  font-family: Merriweather, serif;
  color: #BDAE82;
  margin: 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
}
.price_block .price_item .price_text {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.contacts {
  background: url("./assets/images/contacts.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}
.contacts .contacts_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.contacts .contacts_block .contacts_content {
  margin-top: 60px;
}
.contacts .contacts_block .contacts_heading {
  font-family: Merriweather, serif;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}
.contacts form {
  display: flex;
  flex-direction: column;
  align-items: align-items;
  justify-content: justify-content;
}
.contacts form input {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
}
.contacts form input::-moz-placeholder {
  padding-left: 20px;
  color: #BDAE82;
  line-height: 40px;
}
.contacts form input::placeholder {
  padding-left: 20px;
  color: #BDAE82;
  line-height: 40px;
}
.contacts form #email, .contacts form #tel {
  height: 50px;
}
.contacts form #message {
  height: 100px;
}
.contacts form #tel {
  margin: 20px 0;
}
.contacts form .form_btn {
  margin-top: 30px;
}

.footer_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.footer_content a {
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}
.footer_content a:hover {
  color: #BDAE82;
}
.footer_content .links_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer_content .links_list .link {
  cursor: pointer;
  margin-right: 20px;
}
.footer_content .links_list .link:last-child {
  margin-right: 0;
}/*# sourceMappingURL=style.css.map */